<!DOCTYPE html>
<html>
<meta charset=utf-8>
<title><%= htmlWebpackPlugin.options.title %></title>
<body>

<script src="/react.development.js"></script>
<script src="/react-dom.development.js"></script>

<!-- actual script is added at the end by webpack -->
